.header-div {
  background: #a9aaab;
  padding: 20px;
  display: flex;
  justify-content: end;
}

.header-item {
  margin-right: 50px;
  font-size: 20px;
  cursor: pointer;
}

.active-header-item {
  font-weight: bolder;
}

.login-header {
  text-align: center;
}